body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-style: italic;
    margin: 5%;
}

.lgo {
    border-image: round;
}

.loog {

}

.sec-1 {
    
    
    margin: 5%;
}

.sec-2 {
    border: 1px solid white;
    margin: 5%;
}

.sec-3 {
    border: 1px solid white;
    margin: 5%;
}

.sec-4 {
    border: 1px solid white;
    margin: 5%;
}

button {
    border: 2px solid white;
    margin: 2%;
}